Source: %PFX%%VMOD%
Section: web
Priority: optional
Maintainer: %PFX%%VMOD% <example@localhost>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/xcir/vmod-packager

Package: %PFX%%VMOD%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish (>= %VARNISH_VER%), varnish (<< %VARNISH_VER_NXT%)%REQUIRE%
Replaces: %PFX%%VMOD% (<< %VRT%)
Description: packed by vmod-packager
